@(form: Form[KyShop])


@main("图文快印店管理系统") {
 <div class="container" >
     <h1>新建快印店</h1>
 </div>

<div class="row">
    <div class="col-md-8" >
        <form id="kyshop_save" method="POST" action="@controllers.admin.routes.KyShopAction.save">
            <input type="hidden" name="id" id="J_id" value='@form("id")'>
            <input type="text" name="id" id="J_id" value='@form("id")'>
            <div class="form-group">
                <label  for="mobile">手机号</label>
                <input class="form-control" type="text" id="mobile" name="mobile" value='@form("mobile").value' placeholder="手机号">
            </div>
            <div class="form-group">
                <label  for="name">公司名</label>
                <input class="form-control" type="text" id="name" name="name" value='@form("name").value' placeholder="公司名">
            </div>
            <div class="form-group">
                <label  for="namePy">公司拼音</label>
                <input class="form-control" type="text" id="namePy" name="namePy" value='@form("namePy").value' placeholder="公司拼音">
            </div>
            <div class="form-group">
                <label  for="forShort">公司简称</label>
                <input class="form-control" type="text" id="forShort" name="forShort" value='@form("forShort").value' placeholder="公司简称">
            </div>
            <div class="form-group">
                <label  for="address">店面地址</label>
                <input class="form-control" type="text" id="address" name="address" value='@form("address").value' placeholder="店面地址">
            </div>
            <div class="form-group">
                <label  for="email">电子邮件</label>
                <input class="form-control" type="text" id="email" name="email" value='@form("email").value' placeholder="电子邮件">
            </div>
            <div class="form-group">
                <label  for="tel">座机</label>
                <input class="form-control" type="text" id="tel" name="tel" value='@form("tel").value' placeholder="座机">
            </div>
            <div class="form-group">
                <label  for="fax">传真</label>
                <input class="form-control" type="text" id="fax" name="fax" value='@form("fax").value' placeholder="传真">
            </div>
            <div class="form-group">
                <label  for="site">网站</label>
                <input class="form-control" type="text" id="site" name="site" value='@form("site").value' placeholder="网站">
            </div>
            <div class="form-group">
                <label  for="status">状态</label>
                <input class="form-control" type="text" id="status" name="status" value='@form("status").value' placeholder="状态">
            </div>
            <div class="form-group">
                <label  for="profile">公司介绍</label>
                <input class="form-control" type="textarea" id="profile" name="profile" value='@form("profile").value' placeholder="公司介绍">
            </div>
            <div class="form-group">
                <label  for="remarks">备注</label>
                <input class="form-control" type="textarea" id="remarks" name="remarks" value='@form("remarks").value' placeholder="备注">
            </div>
            <div class="actions">
                <input type="submit" value="提交" class="btn btn-primary"> or <a href="@controllers.admin.routes.KyShopAction.index" class="btn btn-default">取消</a>
            </div>
        </form>

    </div>
    <div class="col-md-4">
        @info()
    </div>
</div>
}