<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="tb-service">
    <h2><s class="fpicon s-service-head">淘宝特色服务</s></h2>
    <dl class="service-bd">


        <dt><s class="fpicon s-service-theme"></s>主题市场</dt>


        <dd data-spm="1997517385" data-spm-max-idx="15">


            <a href="http://nvren.taobao.com/?spm=1.7274553.1997517385.d2.bzF5rk" data-spm="d2" class="" data-spm-anchor-id="1.7274553.1997517385.d2">淘宝女人  </a>
            <a href="http://www.taobao.com/market/sport/citiao/yundongpai.php?spm=1.7274553.1997517385.d12.bzF5rk" data-spm="d12" class=" c-2 " data-spm-anchor-id="1.7274553.1997517385.d12">运动派  </a>
            <a href="http://qinglv.taobao.com/?spm=1.7274553.1997517385.d3.bzF5rk" data-spm="d3" class=" c-3 " data-spm-anchor-id="1.7274553.1997517385.d3">情侣  </a>
            <a href="http://nanren.taobao.com/?spm=1.7274553.1997517385.d1.bzF5rk" data-spm="d1" class="" data-spm-anchor-id="1.7274553.1997517385.d1">淘宝男人  </a>
            <a href="http://www.taobao.com/market/baobao/2014/index.php?spm=1.7274553.1997517385.d5.bzF5rk" data-spm="d5" class=" c-2 " data-spm-anchor-id="1.7274553.1997517385.d5">孕婴童  </a>
            <a href="http://www.taobao.com/market/home/2014/index.php?spm=1.7274553.1997517385.d18.bzF5rk" data-spm="d18" class=" c-3 " data-spm-anchor-id="1.7274553.1997517385.d18">家居  </a>
            <a href="http://www.taobao.com/market/mei/index.php?spm=1.7274553.1997517385.d10.bzF5rk" data-spm="d10" class="" data-spm-anchor-id="1.7274553.1997517385.d10">美容护肤  </a>
            <a href="http://zln.taobao.com/?spm=1.7274553.1997517385.d6.bzF5rk" data-spm="d6" class=" c-2 " data-spm-anchor-id="1.7274553.1997517385.d6">中老年  </a>
            <a href="http://chi.taobao.com/?spm=1.7274553.1997517385.d14.bzF5rk" data-spm="d14" class=" c-3 " data-spm-anchor-id="1.7274553.1997517385.d14">美食  </a>
            <a href="http://bxlc.taobao.com/?spm=1.7274553.1997517385.d4.bzF5rk" data-spm="d4" class="" data-spm-anchor-id="1.7274553.1997517385.d4">保险理财  </a>
            <a href="http://www.taobao.com/market/car/index.php?spm=1.7274553.1997517385.d17.bzF5rk" data-spm="d17" class=" c-2 " data-spm-anchor-id="1.7274553.1997517385.d17">有车族  </a>
            <a href="http://www.taobao.com/market/jia/2014index.php?spm=1.7274553.1997517385.d19.bzF5rk" data-spm="d19" class=" c-3 " data-spm-anchor-id="1.7274553.1997517385.d19">装修  </a>
            <a href="http://www.taobao.com/market/3c/home.php?spm=1.7274553.1997517385.d8.bzF5rk" data-spm="d8" class="" data-spm-anchor-id="1.7274553.1997517385.d8">手机数码  </a>
            <a href="http://shenghuo.taobao.com/?spm=1.7274553.1997517385.d20.bzF5rk" data-spm="d20" class=" c-2 " data-spm-anchor-id="1.7274553.1997517385.d20">生活家  </a>
            <a href="http://game.taobao.com/?spm=1.7274553.1997517385.d13.bzF5rk" data-spm="d13" class=" c-3 " data-spm-anchor-id="1.7274553.1997517385.d13">游戏  </a>

        </dd>


        <dt><s class="fpicon s-service-special"></s>特色购物</dt>


        <dd data-spm="1997517389">


            <a href="http://2.taobao.com/?spm=1.7275165.a214d7z.16" data-spm="d1" class="">淘宝二手  </a>
            <a href="http://paimai.taobao.com/?spm=1.7275165.a214d7z.17" data-spm="d3" class=" c-2 ">拍卖会  </a>
            <a href="http://guang.taobao.com/?spm=1.7275165.a214d7z.18" data-spm="d14" class=" c-3 c-3-3 ">爱逛街  </a>
            <a href="http://tese.taobao.com/?spm=1.7275165.a214d7z.19" data-spm="d7" class="">淘宝奇葩  </a>
            <a href="http://g.taobao.com/?spm=1.7275165.a214d7z.20" data-spm="d2" class=" c-2 ">全球购  </a>
            <a href="http://tiaoshi.chi.taobao.com/?spm=1.7275165.a214d7z.21" data-spm="d6" class=" c-3 ">挑食  </a>
            <a href="http://xue.taobao.com/?spm=1.7275165.a214d7z.22" data-spm="d11" class="">淘宝同学  </a>
            <a href="http://mm.taobao.com/?spm=1.7275165.a214d7z.23" data-spm="d5" class=" c-2 ">淘女郎  </a>
            <a href="http://star.taobao.com/?spm=1.7275165.a214d7z.24" data-spm="d9" class=" c-3 ">星店  </a>
            <a href="http://hi.taobao.com/?spm=1.7275165.a214d7z.25" data-spm="d10" class=" c-7 ">淘宝众筹  </a>
            <a href="http://big.taobao.com/big/index.html?spm=1.7275165.a214d7z.26" data-spm="d22" class=" c-4 ">B格  </a>
            <a href="http://acg.taobao.com/?spm=1.7275165.a214d7z.27" data-spm="d8" class=" c-4 ">动漫  </a>
            <a href="http://style.taobao.com/?spm=1.7275165.a214d7z.28" data-spm="d18" class=" c-3 ">腔调  </a>
            <a href="http://life.taobao.com/?spm=1.7275165.a214d7z.29" data-spm="d19" class="">生活服务  </a>
            <a href="http://daren.taobao.com/?spm=1.7275165.a214d7z.30" data-spm="d16" class=" c-2 ">淘宝达人  </a>
            <a href="http://dapei.taobao.com/?spm=1.7275165.a214d7z.31" data-spm="d15" class=" c-3 ">逛搭配  </a>

        </dd>


        <dt><s class="fpicon s-service-favourable"></s>优惠促销</dt>


        <dd data-spm="1997517393">


            <a href="http://tejia.taobao.com/?spm=1.7275165.a214d7z.32" data-spm="d1" class="">天天特价  </a>
            <a href="http://try.taobao.com/?spm=1.7275165.a214d7z.33" data-spm="d2" class=" c-2 ">免费试用  </a>
            <a href="http://qing.taobao.com/?spm=1.7275165.a214d7z.34" data-spm="d3" class=" c-3 ">清仓  </a>
            <a href="http://qiang.taobao.com/?spm=1.7275165.a214d7z.35" data-spm="d5" class="">一元起拍  </a>
            <a href="http://taojinbi.taobao.com/?spm=1.7275165.a214d7z.36" data-spm="d4" class=" c-2 ">淘金币  </a>
            <a href="http://ye.taobao.com/?spm=1.7275165.a214d7z.37" data-spm="d6" class=" c-3 ">夜抢购  </a>

        </dd>


        <dt><s class="fpicon s-service-tool"></s>工具</dt>


        <dd data-spm="1997520369" class="last-dd">


            <a href="http://wangwang.taobao.com/?spm=1.7275165.a214d7z.38" data-spm="d1" class="">阿里旺旺  </a>
            <a href="https://www.alipay.com/" data-spm="d2" class=" c-2 ">支付宝  </a>
            <a href="http://www.laiwang.com/" data-spm="d3" class=" c-3 ">来往  </a>

        </dd>

    </dl>
    <a class="more more-with-border J_CatMore" href="#hot-point" target="_self">更多<i><em></em><span></span></i></a>
</div>
</body>
</html>